.calc{
    width: 400px;
    margin-top: 60px;
    height: 408px;
    background-color: aliceblue;
    margin-left: 600px;
}

#screen {
    width: 316px;
    height: 65px;
    margin-left: 33px;
    margin-top: 20px;
    pointer-events: none;
}
.btn1{
    width: 80px;
    height: 50px;
}
.row1{
    padding-left: 30px;
    padding-top: 10px;
}